// Add your custom CSS here.
// mark disabled variations
.variations__option:disabled {
    color: #888;
    background-color: #f8f9fa;
    border-color: var(--border-color);
}
option:disabled {
    color: red
}
// active shipping
.shipping-calculator__services .list-group-item-action.active {
    border: 1px solid #F5918C
}
//breadcrumb color
.breadcrumb a,.breadcrumb a:hover  {
  color: #f5908b
}

.shipping-line[data-service-code=PICKUP] strong {
    display: none !important;
  }
  .shipping-line[data-service-code=PICKUP] span {
    color: transparent !important;
  }
  .shipping-line > small {
    -webkit-line-clamp: 5 !important;
    font-weight: bold
  }